In [7]:
import tabula
from csv import reader
import pandas as pd
tabula.convert_into("IR-E-U-0456.pdf", "IR-E-I-0456.csv", output_format="csv", pages='all')
all_tables=[]
table=[]
special_words=['Academic Year','(All programs\nof all years)','Ph.D (Student pursuing doctoral program till 2019-20)','No. of Ph.D students graduated (including Integrated Ph.D)','Financial Year','1. Do your institution buildings have Lifts/Ramps?','2. Do your institution have provision for walking aids, including wheelchairs and transportation from one building to another for handicapped students?','3. Do your institution buildings have specially designed toilets for handicapped students?','Number of faculty members entered']

with open('test.csv', 'r') as read_obj:
    csv_reader = reader(read_obj)
    for row in csv_reader:
        for word in special_words:
            if(word in row):
                if(len(table)>0):
                    all_tables.append(table)
                    table=[]
        updated_row=[]
        for word in row:
                updated_word=word.replace("\n"," ")
                updated_row.append(updated_word)
        table.append(updated_row)

if(len(table)>0):
    all_tables.append(table)
    table=[]
    
print(all_tables[6])

[['Ph.D (Student pursuing doctoral program till 2019-20)', '', '', '', '', '', '', '', '', '', '', '', ''], ['', 'Total Students', '', '', '', '', '', '', '', '', '', '', ''], ['Full Time', '2112', '', '', '', '', '', '', '', '', '', '', ''], ['Part Time', '39', '', '', '', '', '', '', '', '', '', '', '']]

In [8]:
df = pd.DataFrame(data = all_tables[0])
df.columns = df.iloc[0] 
df = df[1:]
df

,Academic Year,2019-20,2018-19,2017-18,2016-17,2015-16,2014-15,,,,,,
1,UG [4 Years Program(s)],762,488,466,466,-,-,,,,,,
2,UG [5 Years Program(s)],157,358,372,372,372,-,,,,,,
3,PG [2 Year Program(s)],435,403,-,-,-,-,,,,,,
4,PG [3 Year Program(s)],245,245,245,-,-,-,,,,,,