In [3]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [4]:
filename = 'IR-E-U-0456.html'
html_report_part1 = open(filename,'r')
soup = BeautifulSoup( html_report_part1, "html.parser")

In [5]:
all_tables=[]
table=[]
table_tag = soup.find_all('table')
for tables in table_tag:
    tr_tag = tables.find_all('tr')
    for tr in tr_tag:
        row=[]
        td_tag = tr.find_all('td')
        flag=0
        for td in td_tag:
            p_tag = td.find_all('p')
            if(len(p_tag)):
                for p in p_tag:
                    span_tag=p.find_all('span')
                    att=span_tag[0].attrs['style']
                    if(att.find('bold')!=-1):
                        flag=1
                        for span in span_tag:
                            row.append(span.text)
                    elif(len(span_tag)):
                        for span in span_tag:
                            row.append(span.text)
                    else:
                        flag=2
                        
        if(flag==1):
            if(len(table)>0):
                all_tables.append(table)
                table=[]
        if(flag==2):
            break
        table.append(row)
if(len(table)>0):
    all_tables.append(table)
    table=[]

print(len(all_tables))
print(all_tables[0])

18
[['Academic Year', '2019-20', '2018-19', '2017-18', '2016-17', '2015-16', '2014-15'], ['UG [4 Years Program(s)]', '762', '488', '466', '466', '-', '-'], ['UG [5 Years Program(s)]', '157', '358', '372', '372', '372', '-'], ['PG [2 Year Program(s)]', '435', '403', '-', '-', '-', '-'], ['PG [3 Year Program(s)]', '245', '245', '245', '-', '-', '-']]

In [8]:
df = pd.DataFrame(data = all_tables[3]) 
df.columns = df.iloc[0] 
df = df[1:]

In [9]:
df

,Academic Year,No. of first year students intake in the year,No. of first year students admitted in the year,Academic Year,No. of students admitted through Lateral entry,Academic Year,No. of students graduating in minimum stipulated time,No. of students placed,Median salary of placed graduates(Amount in Rs.),No. of students selected for Higher Studies
1,2013-14,392,369,2014-15,0,2017-18,341,261,1200000(Twelve lakhs),59
2,2014-15,392,364,2015-16,0,2018-19,314,227,1350000(Thirteen lakhs Fifty thousand),52
3,2015-16,372,346,2016-17,0,2019-20,316,248,1600000(Sixteen lakhs),41

In [10]:
import aspose.words as aw

doc = aw.Document("IR-E-U-0456.pdf")
doc.save("Output.html")

In [8]:
import tabula
tabula.convert_into("IR-E-I-1074.pdf", "delhi.csv", output_format="csv", pages='all')

In [7]:
import pandas as pd
df = pd.read_csv('test.csv')

ParserError: Error tokenizing data. C error: Expected 7 fields in line 6, saw 13

In [15]:
import tabula
tabula.convert_into("IR-E-I-1074.pdf", "delhi.csv", output_format="csv", pages='all')
all_tables=[]
table=[]
special_words=['Academic Year','(All programs\nof all years)','Ph.D (Student pursuing doctoral program till 2019-20)','No. of Ph.D students graduated (including Integrated Ph.D)','Financial Year','1. Do your institution buildings have Lifts/Ramps?','2. Do your institution have provision for walking aids, including wheelchairs and transportation from one building to another for handicapped students?','3. Do your institution buildings have specially designed toilets for handicapped students?','Number of faculty members entered']
from csv import reader
# open file in read mode
with open('test.csv', 'r') as read_obj:
    csv_reader = reader(read_obj)
    for row in csv_reader:
        for word in special_words:
            if(word in row):
                if(len(table)>0):
                    all_tables.append(table)
                    table=[]
        updated_row=[]
        for word in row:
                updated_word=word.replace("\n"," ")
                updated_row.append(updated_word)
        table.append(updated_row)

if(len(table)>0):
    all_tables.append(table)
    table=[]
    
print(all_tables[6])

[['Ph.D (Student pursuing doctoral program till 2019-20)', '', '', '', '', '', '', '', '', '', '', '', ''], ['', 'Total Students', '', '', '', '', '', '', '', '', '', '', ''], ['Full Time', '2112', '', '', '', '', '', '', '', '', '', '', ''], ['Part Time', '39', '', '', '', '', '', '', '', '', '', '', '']]

In [34]:
import pandas as pd
df = pd.DataFrame(data = all_tables[14]) 
df.columns = df.iloc[0] 
df = df[1:]
df

Empty DataFrame
Columns: [Number of faculty members entered, 642, , , , , , , , , , , ]
Index: []