In [23]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [24]:
filename = 'IR-E-U-0456.html'
html_report_part1 = open(filename,'r')
soup = BeautifulSoup( html_report_part1, "html.parser")

In [25]:
all_tables=[]
table=[]

In [26]:
table_tag = soup.find_all('table')
# print(table_tag)

In [29]:
for tables in table_tag:
    tr_tag = tables.find_all('tr')
    for tr in tr_tag:
        row=[]
        td_tag = tr.find_all('td')
        flag=0
        for td in td_tag:
            p_tag = td.find_all('p')
            if(len(p_tag)):
                for p in p_tag:
#                     span_tag_attr=p.find_all('span',attrs={"font-weight": "bold"})
#                     print(len(span_tag_attr))
                    span_tag=p.find_all('span')
                    att=span_tag[0].attrs['style']
#                     print(span_tag[0].attrs['style'])
#                     print(att.find('bold'))
                    if(att.find('bold')!=-1):
#                         print("HELLO")
                        flag=1
                        for span in span_tag:
                            row.append(span.text)
                    elif(len(span_tag)):
                        for span in span_tag:
                            row.append(span.text)
        if(flag==1):
            if(len(table)>0):
                all_tables.append(table)
                table=[]
        table.append(row)
if(len(table)>0):
    all_tables.append(table)
    table=[]

# print(len(all_tables))
print(all_tables[0])

[['Academic Year', '2019-20', '2018-19', '2017-18', '2016-17', '2015-16', '2014-15'], ['UG [4 Years Program(s)]', '762', '488', '466', '466', '-', '-'], ['UG [5 Years Program(s)]', '157', '358', '372', '372', '372', '-'], ['PG [2 Year Program(s)]', '435', '403', '-', '-', '-', '-'], ['PG [3 Year Program(s)]', '245', '245', '245', '-', '-', '-']]

In [36]:
df = pd.DataFrame(data = all_tables[3]) 
df.columns = df.iloc[0] 
df = df[1:]

In [37]:
df

,Academic Year,No. of first year students intake in the year,No. of first year students admitted in the year,Academic Year,No. of students admitted through Lateral entry,Academic Year,No. of students graduating in minimum stipulated time,No. of students placed,Median salary of placed graduates(Amount in Rs.),No. of students selected for Higher Studies
1,2013-14,392,369,2014-15,0,2017-18,341,261,1200000(Twelve lakhs),59
2,2014-15,392,364,2015-16,0,2018-19,314,227,1350000(Thirteen lakhs Fifty thousand),52
3,2015-16,372,346,2016-17,0,2019-20,316,248,1600000(Sixteen lakhs),41