In [4]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [5]:
filename = 'IR-E-U-0456.html'
html_report_part1 = open(filename,'r')
soup = BeautifulSoup( html_report_part1, "html.parser")

In [19]:
all_tables=[]
table=[]
table_tag = soup.find_all('table')
for tables in table_tag:
    tr_tag = tables.find_all('tr')
    for tr in tr_tag:
        row=[]
        td_tag = tr.find_all('td')
        flag=0
        for td in td_tag:
            p_tag = td.find_all('p')
            if(len(p_tag)):
                for p in p_tag:
                    span_tag=p.find_all('span')
                    att=span_tag[0].attrs['style']
                    if(att.find('bold')!=-1):
                        flag=1
                        for span in span_tag:
                            row.append(span.text)
                    elif(len(span_tag)):
                        for span in span_tag:
                            row.append(span.text)
                    else:
                        flag=2
                        
        if(flag==1):
            if(len(table)>0):
                all_tables.append(table)
                table=[]
        if(flag==2):
            break
        table.append(row)
if(len(table)>0):
    all_tables.append(table)
    table=[]

print(len(all_tables))
print(all_tables[0])

18
[['Academic Year', '2019-20', '2018-19', '2017-18', '2016-17', '2015-16', '2014-15'], ['UG [4 Years Program(s)]', '762', '488', '466', '466', '-', '-'], ['UG [5 Years Program(s)]', '157', '358', '372', '372', '372', '-'], ['PG [2 Year Program(s)]', '435', '403', '-', '-', '-', '-'], ['PG [3 Year Program(s)]', '245', '245', '245', '-', '-', '-']]

In [25]:
df = pd.DataFrame(data = all_tables[7]) 
df.columns = df.iloc[0] 
df = df[1:]

In [26]:
df

0          Â  Total Students
1  Full Time           2112
2  Part Time             39